# Python
.venv/
__pycache__/
*.pyc

# dbt
target/
dbt_packages/
logs/
.env

# local raw data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# macOS
.DS_Store

# VS Code
.vscode/

# Terraform local files
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
.terraformrc
terraform.rc
# Local unrelated project
property-airflow-project/
