# Python
.venv/
__pycache__/
*.pyc

# dbt
target/
dbt_packages/
logs/
.env

# local raw data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# macOS
.DS_Store

# VS Code
.vscode/